.modal_background {
  background-image: url("../../assets/image/write_modal_background.png");
  width: 176.16px;
  height: 101px;
  background-repeat: no-repeat;
  background-size: 176.16px 101px;
  margin: 0;
  padding: 0;
}

.modal {
  width: 176.16px;
  height: 101px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(0, -7px);
}

.line {
  width: 153px;
  height: 1px;
  background-color: white;
  border: 0;
  margin: 9px;
}

.text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: white;
}
