.MainPage {
  padding: 0 16px;
}
.type_container {
  display: flex;
  height: 44px;
  margin-bottom: 15px;
  cursor: pointer;
}
.ingredients {
  flex: 1;
  text-align: center;
  line-height: 44px;
  border-radius: 6px;
}
.delivery {
  flex: 1;
  text-align: center;
  line-height: 44px;
  background-color: white;
  border-radius: 6px;
}
.posts_lists {
  display: flex;
  flex-direction: column;
  gap: 19px;
}